@charset "UTF-8";

body{
    background-color: rgb(63, 63, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
h1{
    color: aliceblue;
}
h2{
    color: rgb(183, 191, 197);
}
p{
    color: azure;
    text-align: justify;
}