@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif
 
}

body {
    text-align:justify;
    background-image: linear-gradient(to right,#bdb0a5, #ad7e6d);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #693d2cb0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9CCC1;
    text-align: center;
    text-shadow: 1px 1px 0px #aca29a;
}

h2 {
    color: #024059;
}

p {
    color: #024059;
}